@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#body-content {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#logo {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 5vw;
}

#people {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 15vw;
    width: 48%;
    max-width: 500px;
}

#background {
    background-color: rgb(253, 237, 238);
    height: 200%;
    width: 65vw;
    border-top-right-radius: 200%;
    border-bottom-right-radius: 200%;
    z-index: 0;
}

#login-form {
    width: 410px;
    height: 390px;
    min-width: 400px;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 2%;
    box-shadow: 0px 0px 5px 3px rgba(255, 0, 0, 0.05);
    position: absolute;
    right: 20%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#login-form h1 {
    width: 70%;
    text-align: center;
    margin-top: 7%;
    font-family: "Sarabun", sans-serif;
}

#login-form h3 {
    color: #717171;
    font-family: "Sarabun", sans-serif;
}

#facebook-login {
    display: flex;
    align-items: center;
    width: 77%;
    padding-left: 15px;
    height: 40px;
    background-color: #4065b4;
    border-radius: 4px;
    justify-content: space-betw;
    column-gap: 50px;
    text-decoration: none;
} 

#facebook-login:hover {
    background-color: #4b77d4;
}

#facebook-login p {
    font-weight: 800;
    color: white;
    width: 70%;
    font-family: "Sarabun", sans-serif;
}

#google-login {
    height: 35px;
    width: 80%;
    border-width: thin;
    border-radius: 2px;
    border-color: #00000023;
    border-style: solid;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    row-gap: 0;
    position: relative;
}

#google-login img {
    position: absolute;
    left: 15px;
}

#google-login p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Sarabun", sans-serif;
    color: #717171
}

.horizontal-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    margin-top: 20px;
}

.horizontal-grid div {
    border-color: #00000023;
    border-width: thin;
    border-radius: 4px;
    border-style: solid;
    width: 45%;
    height: 50px;
    color: #00000034;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-family: "Sarabun", sans-serif;
}

.horizontal-grid div:hover {
    background-color: red;
    color: white;
}

@media screen and (max-width: 800px){
    #body-content {
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 100vh;
        align-items: center;
        justify-content: flex-end;
    }
    #logo {
        position: absolute;
        top: 25px;
        left: 50%;
        transform: translateX(-50%);
        width: 15vw;
        z-index: 1;
    }

    #background {
        width: 100%;
        height: 40vh;
        position: absolute;
        top: 0px;
        border-top-right-radius: 0%;
        border-bottom-right-radius: 0%;
        border-bottom-left-radius: 45%;
        border-bottom-right-radius: 45%;
    }

    #login-form {
        width: 100%;
        right: 0%;
        box-shadow: none;
        border-bottom: 200px;
        position: unset;
        padding-bottom: 20%;
    }

    #people {
        position: absolute;
        transform: translateX(-50%);
        top: 20%;
        left: 50%;
        height: 60%;
        aspect-ratio: 1;
        max-height: 500px;
        width: auto;
        max-width: none;
    }

}